{% extends 'base.html' %}

{% block head %}
    <title>The W Music Store!!!</title>
{% endblock %}

{% block body %}
    <header>
        Shopping Cart
        {% if session['username'] %}
            <img src="">
             {{session['username']}} <p>
            <div class="tab">
                <input type="button" onclick="location.href='{{url_for("logout")}}';" value="Logout" />
                <input type="button" onclick="location.href='/';" value="Top Level" />
                <input type="button" onclick="location.href='/cart/show/all';" value="Cart" />
                <input type="button" onclick="location.href='/instruments/show/all';" value="List Instruments" />
                <input type="button" onclick="location.href='/instruments/create';" value="Create Instrument" />
              </div>
    </header>
    {% else %}
    <header>
        <img src="">
        Welcome to our music store, please <a href="{{url_for('login')}}">Log in!</a>
    </header>
    {% endif %}
    <section>
        {% if cart %}
            These are the reference numbers of your products
            <ul>
            <!-- Show the list of instruments. -->
            {% for item in cart %}
                <li><img src={{item["url"]}} width="50"/>{{item["name"]}} Qty:{{item["count"]}}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Your cart is empty!</p>
        {% endif %}
    </section>
    <br>
{% endblock %}