{% extends 'base.html' %}

{% block head %}
    <title>The W Music Store!!!</title>
{% endblock %}

{% block body %}

    {% if session['username'] %}
    <header>
        <img src="">
        Welcome to our music store, {{session['username']}} <p>
        <div class="tab">
            <input type="button" onclick="location.href='{{url_for("logout")}}';" value="Logout" />
            <input type="button" onclick="location.href='/';" value="Top Level" />
            <input type="button" onclick="location.href='/cart/show/all';" value="Cart" />
            <input type="button" onclick="location.href='/instruments/show/all';" value="List Instruments" />
            <input type="button" onclick="location.href='/instruments/create';" value="Create Instrument" />


          </div>

    </header>
    {% else %}
    <header>
        <img src="">
        Welcome to our music store, please <a href="{{url_for('login')}}">Log in!</a>
    </header>
    {% endif %}

    <section>
        <h1>Take a look at the instruments in our store</h1>

        <h3></h3>
        {% if instruments %}
            <ul>
            {% for instrument in instruments %}
            <li><a href="/instruments/show/{{instrument['ref_num']}}"><img src="{{instrument['url']}}" width="150"/></a> {{instrument["name"]}} <a href="cart/add/{{instrument['ref_num']}}">Add to cart!</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </section>
    <br>
{% endblock %}
